varnish_instance1:
  strategy: Varnish
  proxies:
    - http://varnish1.example.com:80
    - http://varnish2.example.com:80
  request_method: head
  urls:
    - /cdnsa[1-4]\.cdndomain1.com\.com/
    - /cdn[1-4]\.cdndomain1.com\.com/
    - /(www|uk)\.example1\.com/
    - /static\.example1\.com/
    - /www\.example1\.com\.au/
    - /www\.example1\.co\.nz/
    - /sa[1-4]\.cdndomain2\.io/
    - /sa[1-4]\.cdndomain3\.io/
    - /cs[1-4]\.cdndomain2\.io/
    - /cs[1-4]\.cdndomain3\.io/
    - /(www\.)?example2\.com\.au/

akamai:
  strategy: Akamai
  username: myusername
  password: mypassword
  urls:
    - /cdnsa[1-4]\.cdndomain1.com\.com/
    - /cdn[1-4]\.cdndomain1.com\.com/
    - /(www|uk)\.example1\.com/
    - /www\.example1\.com\.au/
    - /www\.example1\.co\.nz/
    - /secure\.example2\.com\.au/

cloudfront_sa:
  strategy: CloudFront
  access_key: 'SOME_ACCESS_KEY'
  secret_key: 'some/secretfdkjhsdgjhs.sfgsfg'
  distribution_id: 'F1X7GOLGR8M44I'
  urls:
    - /sa[1-4]\.cdndomain2\.io/
    - /sa[1-4]\.cdndomain3\.io/

cloudfront_cs:
  strategy: CloudFront
  access_key: 'SOME_ACCESS_KEY'
  secret_key: 'some/secretfdkjhsdgjhs.sfgsfg'
  distribution_id: 'CLOUDFRONT_1'
  urls:
    - /cs[1-4]\.cdndomain2\.io/
    - /cs[1-4]\.cdndomain3\.io/

cloudfront_ir:
  strategy: CloudFront
  access_key: 'SOME_ACCESS_KEY'
  secret_key: 'some/secretfdkjhsdgjhs.sfgsfg'
  distribution_id: 'CLOUDFRONT_2'
  urls:
    - /ir\.cdndomain2\.io/

cloudfront_example2:
  strategy: CloudFront
  access_key: 'SOME_ACCESS_KEY'
  secret_key: 'some/secretfdkjhsdgjhs.sfgsfg'
  distribution_id: 'CLOUDFRONT_3'
  urls:
    - /(www\.)?example2\.com\.au/

